# Show how to use methods in load_data.py

In [1]:
import load_data

Show how to use the functions to access the dataframes.  In this example there are two different ways to load the data: you can stream it from box by calling the load_from_box() function, or you can load it from the file stored in the /data folder by calling the load_from_file() function. Both functions return a pandas dataframe of the data.

In [2]:
df = load_data.load_from_file()
df.head()

              A    B    C
2000-01-09  127  145  142
2000-02-01  121  146  141
2000-02-01  124  143  139
2000-02-13  120  142  142
2000-02-14  115  140  146

In [3]:
box_df = load_data.load_from_box()
box_df.head()

              A    B    C
2000-01-09  118  164  180
2000-02-01  115  149  156
2000-02-01  105  117  177
2000-02-13  130  110  102
2000-02-14  142  173  100

# Describe the resulting dataframes

Show the dataframes and explain what the column, rows, and values in the dataframe mean.

In [4]:
df.head()

              A    B    C
2000-01-09  127  145  142
2000-02-01  121  146  141
2000-02-01  124  143  139
2000-02-13  120  142  142
2000-02-14  115  140  146

Each column in the dataframe is a patient.
Each row is the date the blood pressure was taken.
Each value is the patients blood pressure (only the systolic pressure) at the given date.